/*    red color #a0000a   */
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter',sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: #000;
    background-size: cover;
    background: url(recyle.png);
}


.home_navbar{
    background-color: black;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
}
.nav_logo{
    width: 250px;
    border-radius: 50%;
    transition: 0.4s ease, opacity 0.4s;
    margin-left: 40vw;
}

.nav_logo:hover{
    box-shadow: 0 0 40px rgb(0, 160, 48);
    transform: scale(1.1);
    opacity: 1;   
}

.main_nav{
    float: left;
    list-style: none;
    margin-top: 35px;
    margin-left: 2%;
}

.main_nav li{
    display: inline-block;
    margin-left: 15px;
    font-size: 20px;
    
}

.main_nav li a:link,
.main_nav li a:visited {
    padding: 5px 4px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 100;
    font-size: 80%;
    transition:  0.3s;
    border: 2px solid transparent;
    transition: border-bottom 0.3s;
}

ul:hover li .nav_link{
    color: rgb(171, 171, 171);
    transition: 0.3s ease;
}

ul li .nav_link:hover{
    border-bottom: 1px solid #a0000a;
    opacity:1;
    text-decoration:none;
    color:rgb(0, 0, 0);
}

.profile_img{
    float: right;
    width: 30px;
    margin-top: 33px;
    margin-right: 2%;
}

.log_in{
    float: right;
    text-decoration: none;
    font-size: 17px;
    margin-top: 35px;
    margin-right: 2%;
}
.log_in:link,
.log_in:visited{
    background-color: black;
    color: #fff;
    padding: 5px;
    border-radius: 13px;

}

.log_in:hover{
    background-color: black;
}

.home_vedio{
    margin-top: 100px;
}

hr{
    margin-top: 75px;
    border-color: #a0000a;
}

.main_container{
    margin-top: 90px;
}

.signup_word{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5%;
    padding-right: 0;
    padding-left: 0;
}
.signup_word h1{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 50px;
    color:black;
    transition: 1.1s ease-out;
}

.signup_word h1:hover{
    color: #fff;
}
.hook{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
}
.hook p{
    font-family: 'Spectral';
    font-weight: 100;
    font-size: 18px;
    color: black;
}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.signup input{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #000;
    opacity: 70%;
    border-radius: 10px;
    border-color: #fff;
    box-shadow: 0 5px 25px rgba(230, 230, 230, 0.7);
    padding: 10px 140px 5px 10px;
    color: #fff;
    outline: none;
}
.signup input::placeholder{
    color: #fff;
    font-size: 15px;
}
.match{
    display: flex;
}

#messege{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 8px;
    margin-left: 5px;
    font-size: 15px;
}
.gender{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: black;
}
.gender input{
    display: flex;
    flex-direction: row;
    margin: 0px 10px 0px 10px;
    accent-color:#a0000a;
}
.gender h3{
    display: flex;
    margin-right: 50px;
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #fff;
} 

.Date_word{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: #fff;
}
.Date_word h3{
    font-size: 30px;
    font-family: 'Inter',sans-serif;
    font-weight: 200;
    color: black;
}

.Birdthday-inputs {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: #fff;

}

select {
    font-size: 16px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0px 5px 25px rgba(230, 230, 230, 0.7);
    border: 1px solid #ccc;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: auto;
    transition: 1s ease;
    outline: none;
    
}
select::-ms-expand {
    display: none;
}
select:hover{
     transform: scale(1.05); 
    cursor: pointer;
}

.privacy{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.4%;   
    color: black;
}
.privacy p{
    font-family: 'Spectral';
    font-weight: 200;
    font-size: 15px;
    padding: 2px;
    color: #000 ;
}

.privacy a:link,
.privacy a:visited{
    text-decoration: none;
    color: green;
}

.Join-Now{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
}
.Join-Now h3{
    font-size: 25px;
    font-family: 'Inter',sans-serif;
    font-weight: 100;
    color: #fff;
    box-shadow: 0px 5px 25px rgba(1, 1, 1, 80%);
    border-radius: 10px;
    background-color: green;
    padding: 5px 110px 5px 110px;
}

.Join-Now a{
    transition: 0.6s ease;
}

.Join-Now a:hover{
    transform: scale(1.05);
    color:#770008;
    cursor: pointer;
}

.Join-Now a:link,
.Join-Now a:visited{
    text-decoration: none;
}